.item {
  display: flex;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 5px;
}

.foto {
  flex-shrink: 0;
  width: 200px;
}

.card-body {
  flex: 1;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 3px;
}
