<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adicionar Motos</title>
    <div th:replace="~{fragments/fragments :: bootstrap-css}"></div>

    <style>
        .linha{
            border: 1px solid #000000;
        }
        #km{
            display: none;
        }
        .usada{
            display: none;
        }
        #check:checked ~ #km {
            display: block;
        }
        #check:checked ~ .usada {
            display: block;
        }
    </style>

</head>
<body>
    <div th:replace="~{fragments/fragments :: navbar}"></div>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <h1>Cadastrar Moto</h1>
    <form th:action="@{/cadastrar}" th:object="${moto}" method="POST">
        Modelo:<input type="text" th:field="*{modelo}"/></br>
        Placa:<input type="text" th:field="*{placa}"/></br>
        Ano:<input type="text" th:field="*{ano}"/></br>
        Cor:<input type="text" th:field="*{cor}"/></br>
        <input type="checkbox" name="chk_nova" id="check"> <label for="check">Usada</label> </br>
        <span class="usada">Quilometragem:</span><input type="text" id="km" th:field="*{quilometragem}" value="0"/></br>
        Localidade:<input type="text" th:field="*{localidade}"/></br>
        Preço:<input type="text" th:field="*{preco}"/></br>
        Imagem:<input type="file" th:field="*{imagemURI}"/></br>

        <button type="submit">Postar</button>
    </form>

    <div th:replace="~{fragments/fragments :: footer}"></div>

    <div th:replace="~{fragments/fragments :: bootstrap-js1}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js2}"></div>
</body>
</html>