<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Motos a venda</title>
    <div th:replace="~{fragments/fragments :: bootstrap-css}"></div>
    <link rel="stylesheet" href="/css/item.css">

</head>
<body>
    <div th:replace="~{fragments/fragments :: navbar}"></div>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <h4 style="text-align: center;">Carrinho</h4>

    <div class="item card" th:each="m : ${itensCarrinho}">
        <div class="foto">
            <img class="card-img-top" th:src="@{'/images/'+ ${m.imagemURI}}" alt="foto">
        </div>
    
        <div class="card-body">
            <h5 class="card-title" th:text="${'Modelo: ' + m.modelo}"></h5>
            <p class="card-text" th:text="${'Cor: ' + m.cor}"></p>
            <p class="card-text" th:text="${'Ano: ' + m.ano}"></p>
            <p class="card-text" th:text="${'KM rodados: ' + m.quilometragem}"></p>
            <h5 class="card-text" th:text="${'R$ ' + m.preco}"></h5>
        </div>
    </div>

    <a href="/finalizarCompra">Finalizar</a>
    

    <div th:replace="~{fragments/fragments :: footer}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js1}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js2}"></div>
</body>
</html>
