<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Motos a venda</title>
    <div th:replace="~{fragments/fragments :: bootstrap-css}"></div>

</head>
<body>
    <h1>Pagina inicial</h1>
    <div th:replace="~{fragments/fragments :: header}"></div>
    
    <div th:replace="~{fragments/fragments :: footer}"></div>

    <div th:replace="~{fragments/fragments :: bootstrap-js1}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js2}"></div>
</body>
</html>