<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Motos a venda</title>
    <div th:replace="~{fragments/fragments :: bootstrap-css}"></div>

</head>
<body>
    <div th:replace="~{fragments/fragments :: navbar}"></div>
    <div th:replace="~{fragments/fragments :: header}"></div>

    <h1>Lista de Usuários</h1>

    <table border="1">
        <tr>
            <th>
                ID
            </th>
            <th>
                LOGIN
            </th>
            <th>
                ADMIN
            </th>
        </tr>
        <tr th:each="u : ${usuarios}">
            <td th:text="*{id}"></td>
            <td th:text="*{username}"></td>
            <td th:text="*{isAdmin}"></td>
        </tr>
    </table>
    
    <div th:replace="~{fragments/fragments :: footer}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js1}"></div>
    <div th:replace="~{fragments/fragments :: bootstrap-js2}"></div>
</body>
</html>